@model SV20T1080072.Web.Models.PaginationSearchCategory
@{
	ViewBag.Title = "Loại hàng hóa";
}
<div class="box box-primary">
	<div class="box-body">
		<!-- /Form tìm kiếm -->
		<form action="~/Admin/Category" method="get">
			<div class="input-group">
				<input type="text" name="searchValue" class="form-control" placeholder="Nhập tên loại hàng hóa cần tìm..." spellcheck="false" data-ms-editor="true" value="@Model.SearchValue">
				<span class="input-group-btn">
					<button type="submit" name="searchValue" id="search-btn" class="btn btn-flat">
						<i class="fa fa-search"></i>
					</button>
					<a href="~/Admin/Category/Create" class="btn btn-flat btn-primary">
						<i class="fa fa-plus"></i> Bổ sung
					</a>
				</span>
			</div>
		</form>

		<!-- /Danh sách loại hàng hóa -->
		<p style="margin:10px 0 10px 0">
			Có <strong>@string.Format("{0:N0}", Model.RowCount)</strong> loại hàng. Hiện ở trang <strong>@string.Format("{0:N0}", Model.Page)</strong> trên tổng số <strong>@string.Format("{0:N0}", Model.PageCount)</strong> trang
		</p>

		@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
		{
			<div class="alert alert-warning">
				<p>@ViewBag.ErrorMessage</p>
			</div>
		}

		@if (Model.RowCount == 0)
		{
			<div class="alert alert-warning">
				<p>Không tìm thấy loại hàng</p>
			</div>
		}

		<div class="table-responsive">
			<table class="table table-bordered table-hover">
				<thead>
					<tr class="bg-primary">
						<th>Loại hàng hóa</th>
						<th>Mô tả</th>
						<th style="width:80px"></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model.Data)
					{
						<tr>
							<td>@item.CategoryName</td>
							<td>@item.Description</td>
							<td class="text-right">
								<a href="~/Admin/Category/Edit/@item.CategoryId" class="btn btn-xs btn-info">
									<i class="fa fa-edit"></i>
								</a>
								<a href="~/Admin/Category/Delete/@item.CategoryId" class="btn btn-xs btn-danger">
									<i class="fa fa-remove"></i>
								</a>
							</td>
						</tr>
					}
				</tbody>
			</table>

		</div>
	</div>

	@if (Model.RowCount != 0)
	{
		<div class="box-footer text-center">
			<ul class="pagination">
				@if (Model.Page != 1)
				{
					int pageNumber = Model.Page - 1;
					<li class="paginate_button" id="example2_previous">
						<a href="~/Admin/Category/Index/?page=1">First Page</a>
					</li>
					<li class="paginate_button" id="example2_previous">
						<a href="~/Admin/Category/Index/?page=@pageNumber">Previous Page</a>
					</li>
				}
				@{
					int _pageNext = Model.PageCount;
					int _pagePrev = 1;
					if (Model.PageCount >= 5)
					{
						_pageNext = Model.Page + 3;
						_pagePrev = Model.Page - 3;
						if (_pageNext > Model.PageCount)
						{
							_pagePrev -= _pageNext - Model.PageCount;
							_pageNext = Model.PageCount;
						}
						else if (_pagePrev <= 0)
						{
							_pageNext -= _pagePrev - 1;
							_pagePrev = 1;
						}
					}
					for (int i = _pagePrev; i <= _pageNext; i++)
					{
						if (Model.Page == i)
						{
							<li class="paginate_button active">
								<a href="~/Admin/Category/Index/?page=@i">@i</a>
							</li>
						}
						else
						{
							<li class="paginate_button">
								<a href="~/Admin/Category/Index/?page=@i">@i</a>
							</li>
						}
					}
				}
				@if (Model.Page != Model.PageCount)
				{
					int pageNumber = Model.Page + 1;
					<li class="paginate_button next" id="example2_next">
						<a href="~/Admin/Category/Index/?page=@pageNumber">Next Page</a>
					</li>
					<li class="paginate_button next" id="example2_next">
						<a href="~/Admin/Category/Index/?page=@Model.PageCount">Last Page</a>
					</li>
				}
			</ul>
		</div>
	}

</div>


