@model SV20T1080072.Web.Models.PaginationSearchEmployee
@{
	ViewBag.Title = "Quản lý nhân viên";
}

<div class="box box-primary">
	<div class="box-body">
		<!-- /Form tìm kiếm -->
		<form action="~/Admin/Employee" method="get">
			<div class="input-group">
				<input type="text" name="searchValue" class="form-control" placeholder="Nhập tên khách hàng cần tìm..." spellcheck="false" data-ms-editor="true" value="@Model.SearchValue">
				<span class="input-group-btn">
					<button type="submit" name="searchValue" id="search-btn" class="btn btn-flat">
						<i class="fa fa-search"></i>
					</button>
					<a href="~/Admin/Employee/Create" class="btn btn-flat btn-primary">
						<i class="fa fa-plus"></i> Bổ sung
					</a>
				</span>
			</div>
		</form>

		<!-- /Danh sách nhân viên -->
		<p style="margin:10px 0 10px 0">
			Có <strong>@string.Format("{0:N0}", Model.RowCount)</strong> nhân viên. Hiện ở trang <strong>@string.Format("{0:N0}", Model.Page)</strong> trên tổng số <strong>@string.Format("{0:N0}", Model.PageCount)</strong> trang
		</p>

		<!-- /Thông báo lỗi -->
		@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
		{
			<div class="alert alert-warning">
				<p>@ViewBag.ErrorMessage</p>
			</div>
		}

		@if (Model.RowCount == 0)
		{
			<div class="alert alert-warning">
				<p>Không tìm thấy nhân viên</p>
			</div>
		}

		<div class="row">
			@foreach (var item in Model.Data)
			{
				<div class="col-md-6">
					<div class="box box-primary" style="width: auto">
						<div class="box-header with-border">
							@item.FullName
							<div class="pull-right">
								<a href="~/Admin/Employee/Edit/@item.EmployeeID" class="btn btn-xs btn-info">
									<i class="fa fa-edit"></i>
								</a>
								<a href="~/Admin/Employee/Delete/@item.EmployeeID" class="btn btn-xs btn-danger">
									<i class="fa fa-remove"></i>
								</a>
								<a href="#" class="btn btn-xs btn-warning">
									<i class="fa fa-key"></i>
								</a>
							</div>
						</div>
						<div class="row">
							@if (item.Photo != "")
							{
								<div class="col-sm-6 col-md-4">
									<img src="~/images/Employees/@item.Photo" alt="" class="img-rounded img-responsive" style="width: 80px" />
								</div>
							}
							else
							{
								<div class="col-sm-6 col-md-4">
									<img src="~/images/avatars/pikachu.jpg" alt="" class="img-rounded img-responsive" style="width: 80px" />
								</div>
							}
							<div class="col-sm-6 col-md-8" style="margin-top:10px; margin-bottom:10px">
								<p>
									<i class="fa fa-birthday-cake" style=margin-right:10px></i>@String.Format("{0:d}", item.BirthDate)
									<br />
									<i class="fa fa-phone" style=margin-right:10px></i>@item.Phone
									<br />
									<i class="fa fa-envelope" style=margin-right:10px></i>@item.Email
								</p>
							</div>
						</div>
					</div>
				</div>
			}
		</div>

	</div>

	@if (Model.RowCount != 0)
	{
		<div class="box-footer text-center">
			<ul class="pagination">
				@if (Model.Page != 1)
				{
					int pageNumber = Model.Page - 1;
					<li class="paginate_button" id="example2_previous">
						<a href="~/Admin/Employee/Index/?page=1">First Page</a>
					</li>
					<li class="paginate_button" id="example2_previous">
						<a href="~/Admin/Employee/Index/?page=@pageNumber">Previous Page</a>
					</li>
				}
				@{
					int _pageNext = Model.PageCount;
					int _pagePrev = 1;
					if (Model.PageCount >= 5)
					{
						_pageNext = Model.Page + 3;
						_pagePrev = Model.Page - 2;
						if (_pageNext > Model.PageCount)
						{
							_pagePrev -= _pageNext - Model.PageCount;
							_pageNext = Model.PageCount;
						}
						else if (_pagePrev <= 0)
						{
							_pageNext -= _pagePrev - 1;
							_pagePrev = 1;
						}
					}
					for (int i = _pagePrev; i <= _pageNext; i++)
					{
						if (Model.Page == i)
						{
							<li class="paginate_button active">
								<a href="~/Admin/Employee/Index/?page=@i">@i</a>
							</li>
						}
						else
						{
							<li class="paginate_button">
								<a href="~/Admin/Employee/Index/?page=@i">@i</a>
							</li>
						}
					}
				}
				@if (Model.Page != Model.PageCount)
				{
					int pageNumber = Model.Page + 1;
					<li class="paginate_button next" id="example2_next">
						<a href="~/Admin/Employeev/Index/?page=@pageNumber">Next Page</a>
					</li>
					<li class="paginate_button next" id="example2_next">
						<a href="~/Admin/Employee/Index/?page=@Model.PageCount">Last Page</a>
					</li>
				}
			</ul>
		</div>
	}
</div>
