@using System.Text.RegularExpressions;
@model SV20T1080072.Web.Models.PaginationSearchCustomer
@{
	Layout = null;
}

<!-- /Danh sách khách hàng -->
<p style="margin:10px 0 10px 0">
	Có <strong>@string.Format("{0:N0}", Model.RowCount)</strong> khách hàng. Hiện ở trang <strong>@string.Format("{0:N0}", Model.Page)</strong> trên tổng số <strong>@string.Format("{0:N0}", Model.PageCount)</strong> trang
</p>

<!-- /Thông báo lỗi -->
@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
	<div class="alert alert-warning">
		<p>@ViewBag.ErrorMessage</p>
	</div>
}

@if (Model.RowCount == 0)
{
	<div class="alert alert-warning">
		<p>Không tìm thấy khách hàng</p>
	</div>
}

<div class="table-responsive">
	<table class="table table-bordered table-hover">
		<thead>
			<tr class="bg-primary">
				<th>Tên khách hàng</th>
				<th>Tên liên lạc</th>
				<th>Tỉnh thành</th>
				<th>Địa chỉ</th>
				<th>Số điện thoại</th>
				<th>Email</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.Data)
			{
				<tr>
					<td>@item.CustomerName</td>
					<td>@item.ContactName</td>
					<td>@item.Province</td>
					<td>@item.Address</td>
					<td>@Regex.Replace(item.Phone, @"[^0-9]", "")</td>
					<td>@item.Email</td>
					<td>
						<a href="~/Admin/Customer/Edit/@item.CustomerID" class="btn btn-xs btn-info">
							<i class="fa fa-edit"></i>
						</a>
						<a href="~/Admin/Customer/Delete/@item.CustomerID" class="btn btn-xs btn-danger">
							<i class="fa fa-remove"></i>
						</a>
						<a href="#" class="btn btn-xs btn-warning">
							<i class="fa fa-key"></i>
						</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>

@if (Model.RowCount != 0)
{
	<div class="box-footer text-center">
		<ul class="pagination">
			@if (Model.Page != 1)
			{
				int pageNumber = Model.Page - 1;
				<li class="paginate_button" id="example2_previous">
					<a href="javascript:;" onclick="doSearch(1)">First Page</a>
				</li>
				<li class="paginate_button" id="example2_previous">
					<a href="javascript:;" onclick="doSearch(@pageNumber)">Previous Page</a>
				</li>
			}
			@{
				int _pageNext = Model.PageCount;
				int _pagePrev = 1;
				if (Model.PageCount >= 5)
				{
					_pageNext = Model.Page + 3;
					_pagePrev = Model.Page - 3;
					if (_pageNext > Model.PageCount)
					{
						_pagePrev -= _pageNext - Model.PageCount;
						_pageNext = Model.PageCount;
					}
					else if (_pagePrev <= 0)
					{
						_pageNext -= _pagePrev - 1;
						_pagePrev = 1;
					}
				}
				for (int i = _pagePrev; i <= _pageNext; i++)
				{
					if (Model.Page == i)
					{
						<li class="paginate_button active">
							<a href="javascript:;" onclick="doSearch(@i)">@i</a>
						</li>
					}
					else
					{
						<li class="paginate_button">
							<a href="javascript:;" onclick="doSearch(@i)">@i</a>
						</li>
					}
				}
			}
			@if (Model.Page != Model.PageCount)
			{
				int pageNumber = Model.Page + 1;
				<li class="paginate_button next" id="example2_next">
					<a href="javascript:;" onclick="doSearch(@pageNumber)">Next Page</a>
				</li>
				<li class="paginate_button next" id="example2_next">
					<a href="javascript:;" onclick="doSearch(@Model.PageCount)">Last Page</a>
				</li>
			}
		</ul>
	</div>
}
